html {
  background: #141414 url("../img/slide.png") fixed no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

body {
  padding-top: 0;
  background: url("../img/sfeir.png") fixed no-repeat bottom left;
  background-size: 300px 150px;
}

.doc h1 {
  font-size: 3em;
  color: #e15514;
  font-weight: 800;
}

.doc p {
  font-size: 2em;
}

html.slidetitle .doc h1 {
  font-size: 6em;
  color: #e15514;
  font-weight: 1200;
}

html.slidetitle .doc h1,
html.slidetitle .doc p {
  text-align: center;
}

.doc {
  max-width: 52rem;
}

@media screen and (min-width: 1024px) {
  .doc {
    max-width: 71rem;
  }
}

.doc .admonitionblock p,
.doc .admonitionblock td.content {
  font-size: 1.5rem;
}

strong {
  font-weight: 800;
}

.quoteblock {
  text-align: center;
}

.quoteblock blockquote {
  font-size: 2em;
}

.quoteblock .attribution {
  color: #e15514;
  font-size: 1.5em;
}
